@charset "UTF-8";
html,body,h1,h2,h3,ul{
	margin:0;
	padding:0;
}
body{
	color:#000;
	background-color:#fff;
}

h2{
	background-image:url(../images/h2_bg.gif);
	background-repeat:no-repeat;
	background-position:right bottom;
	padding-left:5px;
	border-left:solid 10px #33f;
	border-bottom:solid 2px #f90;
}

p{
	text-indent:1em;
	line-height:1.3em;
}

img{
	vertical-align:bottom;
}
a img{
	border-style:none;
}

a{
	color:#00f;
	text-decoration:none;
}
	a:link{
	}
	a:visited{
	}
	a:hover{
		color:#f60;
		text-decoration:underline;
	}
	a:active{
	}
	
	li{
		line-height:1.5em;
	}

#btnLeft{
	display:none;
}

/*段組み*/
#wrapper{
	background-color:#fff;
	min-width:320px;
	margin:auto;
}

header{
	background-color:#09f;
	overflow:hidden;
	line-height:50px;
}
		h1 a{
			color:#fff;
		}
	
	#btn{
		background-color:#09f;
		font-size:0.8em;
	}
		#btn div{
			line-height:25px;
			padding:0 0.5em 0 0.5em;
			float:right;
		}

nav{
	clear:both;
	width:100%;
}

	.top img{
		width:100%;
	}
	.top #img2{
		float:right;
	}

section{
	clear:both;
	padding:5px;
}
	#sect1 div{
		height:160px;
		overflow:auto;
	}

article{
	padding:5px;
}

aside{
	padding:5px;
}

#div1,#div2{
	padding:5px;
}
	#div1 img,#div2 img{
		margin:5px;
		float:left;
	}

footer{
	background-color:#ccc;
	clear:both;
	border:double #999 5px;
}
	footer article{
	}
		footer div{
			float:left;
			margin:5px;
		}
			footer ul{
				margin-left:15px;
				list-style-image:url("../images/arrow.png");
			}
	address{
		color:#fff;
		background-color:#33f;
		clear:both;
		font-size:0.8em;
		text-align:center;
	}



nav ul{
	list-style-type:none;
}
nav ul li{
	color:#fff;
	background-color:#33f;
	background-image:url("../images/menu_bg.jpg");
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	line-height:40px;
	/*
	border:solid 1px #f90;
	*/
}
nav ul li:hover{
	color:#333;
	background-color:#99f;
	background-image:url("../images/menu_bg_hover.jpg");
}
nav ul li ul{
	display:none;
}
nav ul li ul li{
	background-color:#66f;
	background-image:url("../images/menu_bg2.jpg");
	width:100%;
	font-size:1em;
}
nav ul li ul li:hover{
	background-color:#33f;
	background-image:url("../images/menu_bg2_hover.jpg");
}
nav a{
	display:inline-block;
	width:100%;
	color:#fff;
}
nav a:hover{
	text-decoration:none;
	color:#333;
}

