@charset "UTF-8";
@media(min-width:980px){
	#wrapper{
		width:980px;
	}
	
	#btn div{
		line-height:50px;
	}
		#btnsize{
			clear:none;
		}
	
	nav{
		width:980px;
	}
		nav ul li{
			width:194px;
			border:solid 1px #999;
		}
			nav ul li ul li{
				position:relative;
				left:-1px;
			}
	
	.top{
		margin-top:42px;/* 30 +border1*2 */
	}
		.top img{
			width:980px;
		}
	
	#sect1{
		width:510px;/* 980 -aside1(450 +padding5*2) -自padding5*2 */
	}
	
	#div1{
		width:450px;/* 5(80 +margin5*2) */
	}
	
	#sect2{
		width:690px;/* 980 -(270 +padding5*2) -自padding5*2 */
	}
	
	#div2{
		width:270px;/* 3(80 +margin5*2) */
	}
	
		footer div{
			width:220px;/* 980*25% -liのmarginL15 -margin5*2 */
		}
}