@charset "UTF-8";
@media(min-width:980px){
	#wrapper{
		width:980px;
	}
	
	#btn{
	}
	
	nav{
	}
		nav ul li{
			width:196px;
		}
		
	#sect1{
		width:510px;/* 980 -aside1(450 +padding5*2) -自padding5*2 */
	}
	
	#div1{
		width:450px;/* 5(80 +margin5*2) */
	}
		#div1 img{
		}
	
	#sect2{
		width:690px;/* 980 -(270 +padding5*2) -自padding5*2 */
	}
	
	#div2{
		width:270px;/* 3(80 +margin5*2) */
	}
		#div2 img{
		}
	
		footer div{
			width:220px;/* 980*25% -liのmarginL15 -margin5*2 */
		}
}